<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Individual CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="navbar justify-content-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="{{ 'nav-link active' if active_page == 'monthly' else 'nav-link' }}" href="{{ url_for('monthly') }} ">Monthly Payment</a>
        </li>
        <li class="nav-item">
          <a class="{{ 'nav-link active' if active_page == 'qualificaiton' else 'nav-link' }}" href="{{ url_for('qualification') }} ">Loan Qualification</a>
        </li>
        <li class="nav-item">
          <a class="{{ 'nav-link active' if active_page == 'amortization' else 'nav-link' }}" href="{{ url_for('amortization') }} ">Payment Amortization</a>
        </li>
      </ul>
    </div>

    <div class="body-content">
      <main class="container p-5">
        {% block content %}
        {% endblock %}
      </main>
      
        <hr/>
        <footer>
            <p class="center">© 2020</p>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>