{% extends "layout.html" %}
{% set active_page = "monthly" %}

{% block title %}
    Monthly Payment
{% endblock %}

{% block content %}
    <h3 align="center">Monthly Payment: {{ total_monthly_formatted }}</h3>
    <br>

    <form action="/monthly/" method="post">

        <!-- LOAN INFORMATION -->
        <h4 align="center">Loan Information:</h4>
        <!-- Home Price -->
        <div class="form-group row justify-content-center">
            <label for="home_price" class="col-2 col-form-label offset-sm-1">Home Price</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="home_price" name="home_price" min="0" value="{{ home_price }}">
                </div>
            </div>
        </div>
        <!-- Down Payment -->
        <div class="form-group row justify-content-center">
            <label for="down_pmt" class="col-2 col-form-label offset-sm-1">Down Payment</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="down_pmt" name="down_pmt" min="0" value="{{ down_pmt }}">
                </div>
            </div>
        </div>
        <!-- Interest Rate -->
        <div class="form-group row justify-content-center">
            <label for="int_rate" class="col-2 col-form-label offset-sm-1">Interest Rate</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="int_rate" name="int_rate" min="0" step="0.01" value="{{ int_rate }}">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Term (Years) -->
        <div class="form-group row justify-content-center">
            <label for="term" class="col-2 col-form-label offset-sm-1">Term (Years)</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="term" name="term" min="0" value="{{ term }}">
                </div>
            </div>
        </div>

        <!-- OTHER EXPENSES-->
        <h4 align="center">Other Expenses:</h4>
        <!-- HOA Dues -->
        <div class="form-group row justify-content-center">
            <label for="hoa" class="col-2 col-form-label offset-sm-1">HOA Dues</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="hoa" name="hoa" min="0" value="{{ hoa }}">
                </div>
            </div>
        </div>
        <!-- Mello-roos -->
        <div class="form-group row justify-content-center">
            <label for="melloroos" class="col-2 col-form-label offset-sm-1">Mello-roos</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="melloroos" name="melloroos" min="0" value="{{ melloroos }}">
                </div>
            </div>
        </div>
        <!-- Property Tax (Yearly) -->
        <div class="form-group row justify-content-center">
            <label for="prop_tax" class="col-2 col-form-label offset-sm-1">Property Tax (Yearly)</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="prop_tax" name="prop_tax" min="0" value="{{ prop_tax }}">
                </div>
            </div>
        </div>
        <!-- Insurance (Yearly) -->
        <div class="form-group row justify-content-center">
            <label for="ins" class="col-2 col-form-label offset-sm-1">Insurance (Yearly)</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="ins" name="ins" min="0" value="{{ ins }}">
                </div>
            </div>
        </div>
        <!-- PMI -->
        <div class="form-group row justify-content-center">
            <label for="pmi" class="col-2 col-form-label offset-sm-1">PMI</label>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="pmi" name="pmi" min="0" value="{{ pmi }}">
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Calculate Monthly Payment</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" formaction="/amortization/">Calculate Amortization Schedule</button>
            </div>
        </div>
    </form>
{% endblock %}