{% extends "layout.html" %}
{% set active_page = "monthly" %}

{% block title %}
    Monthly Payment
{% endblock %}

{% block content %}
<form>
    <h4 align="center">Loan Information:</h4>
    <!-- Home Price -->
    <div class="form-group row justify-content-center">
        <label for="home_price" class="col-2 col-form-label offset-sm-1">Home Price</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="home_price" min="0">
            </div>
        </div>
    </div>
    <!-- Down Payment -->
    <div class="form-group row justify-content-center">
        <label for="down_pmt" class="col-2 col-form-label offset-sm-1">Down Payment</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="down_pmt" min="0">
            </div>
        </div>
    </div>
    <!-- Interest Rate -->
    <div class="form-group row justify-content-center">
        <label for="int_rate" class="col-2 col-form-label offset-sm-1">Interest Rate</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="number" class="form-control" id="int_rate" min="0" step="0.01">
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
            </div>
        </div>
    </div>
    <!-- Term (Years) -->
    <div class="form-group row justify-content-center">
        <label for="term" class="col-2 col-form-label offset-sm-1">Term (Years)</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="number" class="form-control" id="term" min="0">
            </div>
        </div>
    </div>
    <h4 align="center">Other Expenses:</h4>
    <!-- HOA Dues -->
    <div class="form-group row justify-content-center">
        <label for="hoa" class="col-2 col-form-label offset-sm-1">HOA Dues</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="hoa" min="0">
            </div>
        </div>
    </div>
    <!-- Mello-roos -->
    <div class="form-group row justify-content-center">
        <label for="mello-roos" class="col-2 col-form-label offset-sm-1">Mello-roos</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="mello-roos" min="0">
            </div>
        </div>
    </div>
    <!-- Property Tax (Yearly) -->
    <div class="form-group row justify-content-center">
        <label for="prop_tax" class="col-2 col-form-label offset-sm-1">Property Tax (Yearly)</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="prop_tax" min="0">
            </div>
        </div>
    </div>
    <!-- Insurance (Yearly) -->
    <div class="form-group row justify-content-center">
        <label for="ins" class="col-2 col-form-label offset-sm-1">Insurance (Yearly)</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="ins" min="0">
            </div>
        </div>
    </div>
    <!-- PMI -->
    <div class="form-group row justify-content-center">
        <label for="pmi" class="col-2 col-form-label offset-sm-1">PMI</label>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="pmi" min="0">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary" type="submit">Calculate</button>
    </div>
</form>
{% endblock %}